.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 9px 18px;
  font-size: 22px;
  background-color: #1786fc !important;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.scroll-top:hover {
  background-color: #0056b3 !important;
}
